.bg {
  background: #5856D6; /* fallback for old browsers */
  background: -webkit-linear-gradient(135deg, #5856D6 , #FF2D55); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(135deg, #5856D6 , #FF2D55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */     
}

.bg-grad {
  background: #5856D6; /* fallback for old browsers */
  background: -webkit-linear-gradient(135deg, #5856D6 , #FF2D55); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(135deg, #5856D6 , #FF2D55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */     
}

.bg-grad-1 {
  background: #5856D6; /* fallback for old browsers */
  background: linear-gradient(-180deg,#0087ff,#07d0ff);
}

.bg-1 {
  background: #5856D6; /* fallback for old browsers */
  background: -webkit-linear-gradient(135deg, #5856D6 , #FF2D55); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(135deg, #5856D6 , #FF2D55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */     
}

.bg-img {
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-box-shadow {
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
}